@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* Animation Setup */
body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #AFAFE8;
    overflow: hidden; /* Prevent scrollbars */
}

#spline {
    margin-top: -20px;
    width: 100%;
    height: 100%;
    background-color: #AFAFE8;
}

section, #header {
    background-color: #AFAFE8;
}

div h1 {
    font-family: 'Playfair Display';
    font-weight: bold;
    color: #1c2243;
}

p {
    font-family: 'Playfair Display';
    font-size: 1.6rem;
    color: #5a51e7;
}

h1, p {
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}